.footer {
  width: 100%;
  background-color: #161424;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  border-top: 1px solid #e7e7e7;
  position:fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  margin-top: 10px;
}
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  